@inherits System.Web.Mvc.WebViewPage
@{
    Layout = "~/Areas/CODG/Views/CODG/Common/Layout.cshtml";
}

<div class="MainWrapper">
    <form class="form import-form" method="post"
          generate-action="/CODG/CODG/GenerateForm"
          status-action="/CODG/CODG/GetJobStatus">
        <div class="context-fields">
            <input type="hidden" name="id" id="id" value="@Request.QueryString["id"]" />
            <input type="hidden" name="db" id="db" value="@Request.QueryString["db"]" />
            <input type="hidden" name="language" id="language" value="@Request.QueryString["language"]" />
        </div>
        <h2>Import</h2>
        <div class="Section import-section">
            <div class="Controls">
                <div class="formRow form-buttons">
                    <button class="import-submit scButton scButtonPrimary" rel="Data">Generate COD</button>
                </div>
                <div class="rowSpacer"></div>
                <div class="formRow importError"></div>
                <div class="formRow importStatus">
                    <div class="status-number"></div>
                    <div class="status-message"></div>
                    <div class="status-file"></div>
                    <div class="status-bar">
                        <div class="status-bar-color"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </form>
    <div class="progress-indicator">
        <img src="/sitecore/shell/themes/standard/Images/ProgressIndicator/sc-spinner32.gif" />
    </div>
</div>
