<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:security="http://www.sitecore.net/xmlconfig/security/">
  <sitecore>
    <!-- Change the serializationRootPath value to match your local environment. -->
    <sc.variable name="CODGSerializationRootPath" value="C:\inetpub\wwwroot\Sitecore.SharedSource.CODG" />
    <unicorn>
      <configurations>
        <configuration
            name="Sitecore.SharedSource.CODG"
            description="Configuration for the COD Generator">
          <targetDataStore
              physicalRootPath="$(CODGSerializationRootPath)\Sitecore.SharedSource.CODG.Serialization\Data\"
              type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
              useDataCache="false"
              singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Editor-Tab" database="core" path="/sitecore/content/Applications/Content Editor/Editors/CODG" />
            <include name="Templates" database="master" path="/sitecore/templates/CODG" />
            <include name="System-Folder" database="master" path="/sitecore/system/Modules/COD Generator" />
          </predicate>
          <dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>